@addTagHelper *,Microsoft.AspNetCore.Identity.EntityFramework
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Crud.Models.customers>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<h1>Index</h1>
<div>
    <a asp-action="Create">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Phone)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Email)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Street)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.City)
             </th>
             <th>
                @Html.DisplayNameFor(model => model.State)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.zipcode)
             </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.City)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.State)
                </td>
                <td>
                    @Html.DisplayFor(modelcustomer => customer.zipcode)
                </td>
                <td>
                    @Html.ActionLink("Create", "Create", new {CustomerId = customer.CustomerId })|
                    @Html.ActionLink("Edit", "Edit", new {CustomerId = customer.CustomerId})|
                    @Html.ActionLink("Delete", "Delete", new {CustomerId = customer.CustomerId})| 
                </td>
            </tr>
        }
    </tbody>
</table>